:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.product-image{
  max-width: 400px;
  width: 100%;
}

.navbar-custom {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  color: aliceblue;
  height: 40px;
  align-content: center;
  align-items: center;
  position: flex;
}
